
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #dedede;
  font-family: 'Verdana', Arial, sans-serif;
  font-size: 15px;
  color: #222;
}

p {
  margin-bottom: 20px;
  line-height: 1.5em;
}

h3 {
  margin-bottom: 20px;
  border-bottom: 1px solid #aaa;
  padding-bottom: 6px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #666;
}


.container {
  max-width: 1380px;
  margin: 20px auto;
  background: #fff;
  overflow: hidden;
  padding: 10px;
}

.header {
  border: 1px solid #dedede;
  padding: 10px;
  margin: 10px;
  background: #6CABDD;
}


.left {
  width: 250px;
  border: 1px solid #dedede;
  padding: 10px;
  margin: 10px;
  float: left;
}

.left ul {
  list-style-type: none;
}

.left ul li a {
  display: block;
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
  padding: 10px 5px;
  color: #4a47a8;
}

.left ul li a:hover {
  color: #461AF3;
}

.middle {
  width: 800px;
  border: 1px solid #dedede;
  padding: 10px;
  margin: 10px;
  float: left;
}

.middle img {
  max-width: 100%;
  height: auto;
}

.middle a {
  font-weight: bold;
}

.right {
  width: 250px;
  border: 1px solid #dedede;
  padding: 10px;
  margin: 10px;
  float: left;
}

.right ul {
  list-style-type: none;
}

.right ul li {
  display: block;
}

.right ul li a {
  display: block;
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
  padding: 10px 5px;
}

.right ul li a:hover {
  color: #000000;
}

.footer {
  clear: both;

    background: linear-gradient(to right, #6ee96e  0%, rgb(68, 68, 68) 50%, rgb(6, 207, 238) 100%);
  padding: 15px;
  margin-top: 10px;
}


@media screen and (max-width: 959px) {
  .container {
    width: 100%;
    padding: 8px;
  }
  .left {
    width: 70%;
  }
  .right {
    width: 30%;
  }
  img {
    width: 100%;
    height: auto;
  }
}


@media screen and (max-width:1080px) {
  .container {
    width: 100%;
  }
  .left {
    width: 25%;
    background: #D6CCFE;
  }
  .middle {
    width: 68%;
    float: right;
  }
  .right {
    clear: both;
    padding: 1% 4%;
    width: auto;
    float: none;
    background: #D6CCFE;
  }
}


@media screen and (max-width: 780px) {
  .header,
  .footer {
    text-align: center;
  }
  .left {
    width: auto;
    float: none;
  }
  .middle {
    width: auto;
    float: none;
  }
  .right {
    width: auto;
    float: none;
  }

}

.gambar {
  border-radius: 8px;
  max-width: 100%;
  height: auto;
}