body {
    background-image: url("pexels-pixabay-314726.jpg");
    object-fit: fill;
    background-repeat: no-repeat;

}

.container {
    position: relative;
    top: 99px;
    display: start-flex;
    padding: 30px;
    width: 410px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    height: 350px;
    min-height: 360px;
    padding: 25px;
    
}
.form-group {
    width: 350px;
    transition-duration: 1s;
    border-radius: 30px;
}
.form-group-submit {
    width: 350px;
    transition-duration: 1s;
    margin-top: 20px;
}
.form-group-submit:hover{
    scale: 1.1;
    transition: 0.2;
}
img {  
  width: 50px;
  border-radius: 50%;
}
.mask1 {
  -webkit-mask-image: url(w3logo.png);
  mask-image: url(w3logo.png);
  mask-repeat: no-repeat;
}